.checkbox label {
  display: flex;
  align-items: center;
}

.checkbox :global(.rct-collapse) {
  display: none;
}

.checkbox :global(.rct-checkbox) {
  padding: 0;
}

.checkboxIcon {
  width: 22px;
  height: 22px;
  padding: 5px;
}

.pt1 {
  padding-top: 1rem;
}
