.detailHeading {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.languages {
  margin-bottom: 2rem;
}

.status {
  display: flex;
  justify-content: right;
}

.info {
  display: flex;
  justify-content: stretch;
  gap: 2em;
  margin: 3em 0 3em 0;
}

.info a {
  color: #0062ba;
}

.info > *:first-child {
  flex-grow: 1;
}

.info > *:last-child {
  min-width: 330px;
  max-width: 330px;
}

.definition {
  font-size: 20px;
  line-height: 30px;
  max-width: calc(100% - 330px);
}

.definition > h3,
.source,
.source a {
  font-size: 14px;
}

.source,
.source a {
  color: #6c737a;
}

.tabs {
  margin-top: 2rem;
}

.tabs > div > div {
  margin-left: 0;
  margin-right: 0;
}

.revision {
  display: flex;
}

.revision a {
  color: #0062ba;
}

.revision > div:not(:last-child) {
  padding-right: 2rem;
}

.revision > div:last-child {
  flex-grow: 1;
}
