.container {
  width: 272px;
}

.color {
  border: 1px solid #d5d7d9;
  height: 138px;
  border-radius: 8px 8px 0px 0px;
}

.textField {
  height: 50px;
  border: 1px solid #d5d7d9;
  border-radius: 0px 0px 8px 8px;
  width: 270px;
}

.textField input {
  border: 0px;
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
  color: #2d3741;
  font-size: 20px;
}
