.fieldSet {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.modalContent {
  margin-top: var(--ds-size-8);
  margin-bottom: var(--ds-size-8);
  padding: var(--ds-size-4);
  border: 1px solid var(--ds-color-neutral-border-default);
  border-radius: var(--ds-border-radius-md);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.buttons {
  display: flex;
}

.footerContent {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.verticalLine {
  width: 1px;
  height: 2rem;
  background-color: #ccc;
  margin: 0 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
}

.gap2 {
  gap: var(--ds-size-2);
}

.noWrap {
  flex-wrap: nowrap;
}

.errorBorder {
  border: 2px solid var(--ds-color-danger-border-default);
  border-radius: var(--ds-border-radius-md);
}

.errorMessage {
  padding: 0.5rem 1rem;
}
