.searchOptions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchOptions > span {
  min-width: 15rem;
}

.chips {
  margin-top: 20px;
  margin-bottom: 40px;
}

.wrap {
  flex-wrap: wrap;
}
