.rowSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.metaData {
  display: flex;
  align-items: center;
  color: var(--ds-color-neutral-text-default);
  font-size: 1rem;
  line-height: 16px;
  margin-bottom: 9px;
}

.metaData a {
  color: var(--ds-color-neutral-text-default);
}

.dot {
  background-color: var(--ds-color-neutral-text-default);
  border-radius: var(--ds-border-radius-full);
  width: var(--ds-size-1);
  height: var(--ds-size-1);
  margin: var(--ds-size-2);
}

.rowSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.greyFont {
  color: var(--ds-color-neutral-text-subtle);
  font-size: 1rem;
}

.subject {
  max-width: 300px;
  padding: 0 1rem 0 1rem;
}

@media (max-width: 768px) {
  .rowSpaceBetween {
    flex-direction: column;
  }
  .metaData {
    flex-direction: column;
  }
  .dot {
    display: none;
  }
  .rowSpaceBetween {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .searchHitContainer {
    display: flex;
    width: 100%;
  }
}

.searchHitContainer {
  margin: 0;
  max-width: 90rem;
  box-sizing: border-box;
}

.chipGroup {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-2);
}
