.searchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ds-size-4);
}

.searchHits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.searchFieldWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: var(--ds-size-4);
}

.searchField {
  flex-grow: 1;
}

.set {
  display: flex;
  gap: 0.5rem;
}

.chips {
  margin-top: 20px;
  margin-bottom: 40px;
}

.wrap {
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--ds-size-4);
}
