.search {
  width: 60%;
}

.searchContainer {
  justify-content: center;
  display: flex;
  padding-bottom: 4rem;
}

.set {
  display: flex;
  gap: 0.5rem;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.select {
  width: fit-content;
}
