.DS_Store
.vscode
.vs
.idea
.envrc

dist
coverage
node_modules

# next.js
/**/.next/
/**/out/

# production
/build

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*
/**/*/.env*
!**/.env*.example


# vercel
.vercel

# typescript
*.tsbuildinfo

# Next.js
.next

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
