.DS_Store
.vscode
.vs
.idea
.envrc

dist
coverage
node_modules

# next.js
/**/.next/
/**/out/

# production
/build

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# local env files
.env*
/**/*/.env*
!**/.env*.example
!**/.env*.e2e

# vercel
.vercel

# typescript
*.tsbuildinfo

# Next.js
.next
.nx

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.editorconfig
.gitattributes
.yarn/releases/yarn-4.1.0.cjs

**/.playwright

reports
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/



.nx/cache
.nx/workspace-data