.container {
  display: flex;
  flex-direction: column;
}

.heading {
  font-weight: 500;
  padding-bottom: 0.5em;
}

.existingValue {
  composes: currentValue from '../../form-fields.module.css';
}

.sourceEntry {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.sourceListing {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
