.searchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.searchHits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.searchFieldWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 1.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.searchField {
  flex-grow: 1;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.select {
  width: fit-content;
}

.set {
  display: flex;
  gap: 0.5rem;
}

.greyFont {
  color: #6c737a;
}

.chips {
  margin: 1rem 0 0;
}
