.searchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ds-size-4);
}

.searchHits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-color: var(--ds-color-border-default);
  gap: var(--ds-size-4);
  p {
    font-size: var(--ds-size-4);
  }
  div {
    border-color: var(--ds-color-border-subtle);
  }
}

.searchFieldWrapper {
  display: flex;
  align-items: center;
  gap: var(--ds-size-4);
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--ds-size-4);
}

.searchField {
  flex-grow: 1;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.select {
  width: fit-content;
}

.set {
  display: flex;
  gap: var(--ds-size-2);
  font-size: var(--ds-size-4);
}

.greyFont {
  color: #6c737a;
}

.chips {
  margin: var(--ds-size-6) 0;
}
