.select {
  width: fit-content;
}

.chips {
  margin-top: 20px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-2);
}

.importFilter {
  display: flex;
  padding: 1px;
  border-radius: 4px;
  height: fit-content;
  box-sizing: border-box;
}

.accordion {
  flex-grow: 1;
  box-sizing: border-box;
}
