.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.warning {
  background-color: #faebcc;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: justify;
}

.modalContent {
  text-align: justify;
  overflow-wrap: break-word;
}