.remark {
  background-color: #faebcc;
  color: #333;
  font-size: 1rem;
  margin-top: 1rem;
  font-style: italic;
}

.modalContent {
  position: relative;
  text-align: justify;
  overflow-wrap: break-word;
}

.spinnerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-bottom: var(--ds-size-4);
}

.content strong {
  font-weight: 700;
}

.markdownContent {
  font-size: var(--ds-font-size-2);

  p {
    margin-bottom: var(--ds-size-2);
  }

  li {
    margin-bottom: var(--ds-size-1);
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }
}

.titleTags {
  display: flex;
  gap: 8px;
  align-items: center;
}
