.searchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ds-size-4);
}

.searchFieldWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: var(--ds-size-4);
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--ds-size-4);
}

.searchField {
  flex-grow: 1;
}

.chips {
  margin: var(--ds-size-6) 0;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-2);
}

.tabsList {
  margin: var(--ds-size-8) 0 var(--ds-size-4) 0;
}

.tabsContent {
  padding: 0;

  & > div {
    padding-left: 0;
    padding-right: 0;
  }
}
