.topButtonRow {
  display: flex;
  justify-content: flex-end;
  margin-top: 37px;
}

.label {
  font-weight: 500;
  font-size: 1.2em;
}

.pageContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.page {
  width: 90%;
  max-width: 1320px;
  min-height: 100%;
  padding-bottom: 6em;
  padding-top: 4em;
}
