.topButtonRow {
  display: flex;
  justify-content: flex-end;
}

.accordion {
  border-radius: 1em;
  width: inherit;
}

.label {
  --fds-typography-label-medium: Heebo;
  font-weight: 500;
  font-size: 1.2em;
}

.pageContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page {
  width: 90%;
  max-width: 1320px;
  min-height: 100%;
  padding-bottom: 6em;
  padding-top: 4em;
}
