.tabs {
  width: 100%;
}

.tabsList {
  margin: var(--ds-size-8) 0 var(--ds-size-4) 0;
}

.tabsContent {
  padding: 0;

  & > div {
    padding-left: 0;
    padding-right: 0;
  }
}

.placeholder {
  padding: var(--ds-size-8);
  text-align: center;
  color: var(--ds-color-neutral-text-subtle);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 10px;
  padding-bottom: 37px;
}

.listItem {
  background-color: white;
  border: 1px solid #dfe1e2;
  border-radius: 8px;
}

.listContent {
  display: flex;
  flex-direction: column;
  padding: 1.5em 3em;
}

.heading {
  color: #2d3741;
}

.text {
  display: flex;
  gap: 0.75em;
  color: #2d3741;
}

.commentHeader > span {
  color: var(--ds-color-neutral-text-subtle);
}

.noHits {
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  padding: var(--ds-size-8);
}

.pagination {
  display: flex;
  justify-content: center;
  padding: var(--ds-size-4) 0;
}
