.contactPoints {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactPoints > span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contactPoints > span > div {
  display: flex;
  align-items: center;
}

.infoCardItems {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.distributionField {
  padding-bottom: 1.5rem;
}

.distributionTable {
  width: 100%;
  table-layout: fixed;
}

.distributionTable th,
.distributionTable td {
  word-wrap: break-word;
}
