.footerContent {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comboboxOption {
  display: grid;
  grid-template-columns: 22% 50% 22%;
  gap: 2.5%;
}
