.footerContent {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comboboxOption {
  display: grid;
  grid-template-columns: 22% 50% 22%;
  gap: 2.5%;
}

.set {
  display: flex;
}

.padding {
  padding-bottom: 0.5rem;
}

.valueCurrencyFieldset {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.costContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > div {
    display: flex;
    align-items: center;
    flex-direction: row;

    &:first-child {
      gap: 0.5rem;
    }
  }
}

.costFooter {
  display: flex;
  flex-direction: column;

  & div:last-child {
    display: flex;
    gap: 0.5rem;
  }

  & > * {
    background-color: inherit;
  }
}

.modalContent {
  margin: var(--fds-spacing-8);
  padding: var(--fds-spacing-8);
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
  border-radius: var(--fds-border_radius-medium);
  height: calc(100vh - 400px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
