@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');

html * {
  font-family: Heebo, sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: inherit;
  line-height: inherit;
  background-color: #f0f6f7;
  margin: 0;
  padding: 0;
}

hr {
  display: flex;
  unicode-bidi: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  overflow: hidden;
  border-style: none;
  border-width: 1px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 1.6rem;
  overflow-wrap: break-word;
}
