.field {
  padding-bottom: var(--ds-size-4);
}

.dialogContent {
  margin: var(--ds-size-4);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: var(--ds-border-radius-lg);
  height: calc(100vh - 400px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollable {
  padding: var(--ds-size-4);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.list {
  display: flex;
  gap: 0.5rem;
}

.standard {
  display: grid;
  grid-template-columns: 43% 43% 10%;
  gap: 2%;
  padding-bottom: 1.5rem;
}

.button {
  width: fit-content;
}

.add {
  display: flex;
  height: fit-content;
  align-items: center;
}

.addCard {
  flex-grow: 2;
  border-color: var(--ds-color-neutral-border-subtle);
}

.format {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons {
  display: flex;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  gap: 1rem;
  max-width: 963px;
  flex-wrap: wrap;
}

.dialog {
  max-width: 1000px;
  overflow: hidden;
}

.distributionContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fieldSet {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &:not(first-child) {
    padding-top: 1rem 0;
  }
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table th,
.table td {
  word-wrap: break-word;
}

.comboboxOptionTwoColumns {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}

.padding-bottom-4 {
  padding-bottom: var(--ds-size-4);
}

.divider {
  background-color: var(--ds-color-neutral-border-subtle);
  width: calc(1000px - var(--ds-size-18));
  margin: 1rem -1rem;
}
