.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;

  & .carouselNotification {
    flex: 1;
    text-align: center;
    padding: 0 20px;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    white-space: nowrap;
  }

  & .carouselControls {
    display: flex;
    flex-direction: column;

    & .carouselButton {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
