.dialog {
  max-width: 1000px;
}

.content {
  margin: var(--ds-size-8) 0;
  padding: var(--ds-size-8);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: var(--ds-border-radius-md);
}

.sourceTable {
  display: flex;
  & > * {
    flex-grow: 1;
  }
}

.buttonRow {
  display: flex;
  margin-top: 1rem;
}
