---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - catalog-admin-frontend-deployment.yaml
  - catalog-admin-frontend-service.yaml
images:
  - name: catalog-admin-frontend
    newName: ghcr.io/informasjonsforvaltning/catalog-frontend/catalog-admin-frontend
    newTag: $(GIT_COMMIT_SHA)
