.row {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: flex-end;
}

.currentValue {
  composes: currentValue from '../../form-fields.module.css';
}

.container {
  composes: containerWithLanguage from '../../form-fields.module.css';
}
