---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: concept-catalog-frontend
  labels:
    app: concept-catalog-frontend
spec:
  template:
    spec:
      containers:
        - name: concept-catalog-frontend
          env:
            - name: NEXTAUTH_URL
              value: https://begrepskatalog.staging.fellesdatakatalog.digdir.no
            - name: NEXTAUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: concept-catalog-frontend
                  key: NEXTAUTH_SECRET
            - name: KEYCLOAK_ID
              value: concept-catalog-frontend
            - name: KEYCLOAK_ISSUER
              valueFrom:
                secretKeyRef:
                  name: keycloak
                  key: KEYCLOAK_OIDC_ISSUER
            - name: KEYCLOAK_SECRET
              valueFrom:
                secretKeyRef:
                  name: keycloak-client-credentials
                  key: CONCEPT_CATALOG_FRONTEND
            - name: CONCEPT_CATALOG_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: CONCEPT_CATALOG_BASE_URI
            - name: CATALOG_COMMENTS_SERVICE_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: CATALOG_COMMENTS_SERVICE_BASE_URI
            - name: CATALOG_HISTORY_SERVICE_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: CATALOG_HISTORY_SERVICE_BASE_URI
            - name: CATALOG_ADMIN_SERVICE_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: CATALOG_ADMIN_SERVICE_BASE_URI
            - name: CATALOG_ADMIN_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: CATALOG_ADMIN_BASE_URI
            - name: ORGANIZATION_CATALOG_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: ORGANIZATION_CATALOG_BASE_URI
            - name: FDK_SEARCH_SERVICE_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: FDK_SEARCH_SERVICE_BASE_URI
            - name: REFERENCE_DATA_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: FDK_REFERENCE_DATA_BASE_URI
            - name: ADMIN_GUI_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: ADMIN_GUI_BASE_URI
            - name: FDK_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: FDK_BASE_URI
            - name: FDK_COMMUNITY_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: FDK_COMMUNITY_BASE_URI
            - name: CATALOG_PORTAL_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: CATALOG_PORTAL_BASE_URI
            - name: NEXT_PUBLIC_ACTIVITY_LOG_ENABLED
              value: "true"
