---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: concept-catalog-frontend
  labels:
    app: concept-catalog-frontend
spec:
  template:
    spec:
      containers:
        - name: concept-catalog-frontend
          env:
            - name: NEXTAUTH_URL
              value: https://begrepskatalog.staging.fellesdatakatalog.digdir.no
            - name: NEXTAUTH_URL_INTERNAL
              value: http://localhost:8080
            - name: NEXTAUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: concept-catalog-frontend-staging
                  key: NEXTAUTH_SECRET
            - name: KEYCLOAK_ID
              value: concept-catalog-frontend
            - name: KEYCLOAK_ISSUER
              valueFrom:
                secretKeyRef:
                  name: sso-staging
                  key: SSO_OIDC_ISSUER
            - name: KEYCLOAK_SECRET
              valueFrom:
                secretKeyRef:
                  name: sso-client-credentials
                  key: CONCEPT_CATALOG_FRONTEND
