.pageContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  overflow-wrap: break-word;
}

.pageTitleText {
  font-size: 1.5rem;
  font-weight: 500;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 2em;
}

.bottomlineContainer {
  padding-top: 4em;
  padding-bottom: 3em;
}

.helpTexts {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.inputFieldRow {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}
