.greyFont {
  color: #6c737a;
}

.actionButtons {
  display: flex;
  gap: 1rem;
  margin: 0em 0 1em 0;
}

.contactPoints {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactPoints > span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contactPoints > span > div {
  display: flex;
  align-items: center;
}
