.currentValue {
  color: #1e2b3c;
  opacity: 0.7;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0em 1em;
}

.containerWithLanguage {
  display: flex;
  flex-direction: row;
}

.noValueText {
  font-style: italic;
}
