---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - concept-catalog-frontend-deployment.yaml
  - concept-catalog-frontend-service.yaml
images:
  - name: concept-catalog-frontend
    newName: ghcr.io/informasjonsforvaltning/catalog-frontend/concept-catalog-frontend
    newTag: $(GIT_COMMIT_SHA)
