/* generate a card container with 2 cards per row */
.cardsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 5rem -1rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
