.flex {
  display: flex;
  align-items: center;
}

.gap2 {
  gap: var(--ds-size-2);
}

.gap4 {
  gap: var(--ds-size-4);
}

.noWrap {
  flex-wrap: nowrap;
}

.buttonRow {
  display: flex;
}

.combobox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contactSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.definitionContent {
  display: flex;
  flex-direction: column;
  padding: 0 var(--dsc-card-padding) var(--dsc-card-padding);
  margin: 0;
  gap: var(--ds-size-2);
}

.definitionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;

  & > div {
    display: flex;
    align-items: center;
    flex-direction: row;

    &:first-child {
      gap: 0.5rem;
    }
  }
}

.divider {
  padding: 1rem 0;
}

.errorMessage {
  font-size: 0.8rem;
}

.fieldSet {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &:not(first-child) {
    padding-top: 1rem 0;
  }
}

.internalSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.periodSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  & > svg {
    padding-top: 2.5rem;
  }
}

.stickyFooterBar {
  position: sticky;
  bottom: 0px;
  background-color: #fff;
  border-top: 1px solid rgb(230, 230, 230);
  box-shadow: #969ba0 0px 0px 10px -5px;
  z-index: 10;
}

.stickyFooterContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.tabContent {
  padding-left: 0;
  padding-right: 0;
}

.table {
  padding-bottom: 0.8rem;
}

.tableRowActions {
  display: flex;
  justify-content: flex-end;
}

.whiteSpaceNoWrap {
  white-space: nowrap;
}

.borderDanger {
  border-color: var(--ds-color-danger-border-default);
}

.topMargin2 {
  margin-top: var(--ds-size-2);
}

.bold {
  font-weight: bold;
}

.forwardedTag {
  background-color: var(--ds-color-warning-surface-default);
  border: none;
  min-height: var(--ds-size-7);
  min-height: var(--ds-size-7);
  font-size: 1rem;
  color: var(--ds-color-neutral-text-default);
}

.languageTags {
  display: flex;
  gap: var(--ds-size-2);
}
