.verticalLine {
  width: 1px;
  height: 4rem;
  background-color: #ccc;
  margin: 0 0.5rem;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.set {
  display: flex;
}

.hiddenField {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.fullWidth {
  width: 100%;
}

.comboboxOption {
  display: grid;
  grid-template-columns: 22% 50% 22%;
  gap: 2.5%;
}

.tagsButton {
  display: flex;
  align-items: flex-end;
  width: fit-content;
}

.footerContent {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.modalContent {
  margin: var(--fds-spacing-8);
  padding: var(--fds-spacing-8);
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
  border-radius: var(--fds-border_radius-medium);
}
