.flex {
  display: flex;
  align-items: center;
}

.gap2 {
  gap: var(--fds-spacing-2);
}

.noWrap {
  flex-wrap: nowrap;
}

.verticalLine {
  width: 1px;
  height: 2rem;
  background-color: #ccc;
  margin: 0 0.5rem;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.set {
  display: flex;
}

.hiddenField {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.table {
  width: 100%;
  table-layout: fixed;
  margin-bottom:1rem;
}

.table th,
.table td {
  word-wrap: break-word;
  padding-bottom: 1rem;
}

.comboboxOption {
  display: grid;
  grid-template-columns: 22% 50% 22%;
  gap: 2.5%;
}

.comboboxOptionTwoColumns {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}

.tagsButton {
  display: flex;
  align-items: flex-end;
  width: fit-content;
}

.footerContent {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.modalContent {
  margin: var(--fds-spacing-8);
  padding: var(--fds-spacing-8);
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
  border-radius: var(--fds-border_radius-medium);
}

.notification {
  background: none;
  border: none;
  padding: 0;
}

.calendar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  & > svg {
    padding-top: 2.5rem;
  }
}

.errorBorder {
  border: 2px solid var(--fds-semantic-border-danger-default);
  border-radius: var(--fds-border_radius-medium);
}
