name: E2E testing
permissions:
  contents: read
on:
  push:
    branches:
      - main
  pull_request:
    types: [ready_for_review, opened, reopened, synchronize]
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    name: Test app ${{ matrix.appname }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        appname:
          [
            concept-catalog-e2e,
            service-catalog-e2e,
            catalog-portal-e2e,
            catalog-admin-e2e,
            dataset-catalog-e2e,
            data-service-catalog-e2e,
          ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0
          submodules: true

      - name: Update submodules to latest main
        run: |
          git submodule foreach --recursive git fetch origin
          git submodule foreach --recursive git checkout origin/main

      - name: Set SHAs
        uses: nrwl/nx-set-shas@v4

      - name: Enable corepack
        run: corepack enable

      - name: Use Node.js 22.14.0
        uses: actions/setup-node@v4
        with:
          node-version: 22.14.0
          cache: 'yarn'

      - name: Yarn install
        run: |
          yarn set version stable
          yarn install --no-immutable

      - name: Caching Nx
        uses: actions/cache@v4
        with:
          path: node_modules/.cache
          key: cache-nx-${{ hashFiles('yarn.lock') }}

      - run: yarn playwright install
      - run: yarn nx e2e ${{ matrix.appname }} --configuration=ci
        env:
          E2E_AUTH_ADMIN_ID: ${{ secrets.E2E_AUTH_ADMIN_ID }}
          E2E_AUTH_READ_ID: ${{ secrets.E2E_AUTH_READ_ID }}
          E2E_AUTH_WRITE_ID: ${{ secrets.E2E_AUTH_WRITE_ID }}
          E2E_CATALOG_ID: ${{ secrets.E2E_CATALOG_ID }}
          E2E_KEYCLOAK_ID_SERVICE_CATALOG_FRONTEND: ${{ secrets.E2E_KEYCLOAK_ID_SERVICE_CATALOG_FRONTEND }}
          E2E_KEYCLOAK_ID_CONCEPT_CATALOG_FRONTEND: ${{ secrets.E2E_KEYCLOAK_ID_CONCEPT_CATALOG_FRONTEND }}
          E2E_KEYCLOAK_ID_CATALOG_PORTAL_FRONTEND: ${{ secrets.E2E_KEYCLOAK_ID_CATALOG_PORTAL_FRONTEND }}
          E2E_KEYCLOAK_ID_DATASET_CATALOG_FRONTEND: ${{ secrets.E2E_KEYCLOAK_ID_DATASET_CATALOG_FRONTEND }}
          E2E_KEYCLOAK_ID_DATA_SERVICE_CATALOG_FRONTEND: ${{ secrets.E2E_KEYCLOAK_ID_DATA_SERVICE_CATALOG_FRONTEND }}
          E2E_KEYCLOAK_SECRET_SERVICE_CATALOG_FRONTEND: ${{ secrets.E2E_KEYCLOAK_SECRET_SERVICE_CATALOG_FRONTEND }}
          E2E_KEYCLOAK_SECRET_CONCEPT_CATALOG_FRONTEND: ${{ secrets.E2E_KEYCLOAK_SECRET_CONCEPT_CATALOG_FRONTEND }}
          E2E_KEYCLOAK_SECRET_CATALOG_PORTAL_FRONTEND: ${{ secrets.E2E_KEYCLOAK_SECRET_CATALOG_PORTAL_FRONTEND }}
          E2E_KEYCLOAK_SECRET_DATASET_CATALOG_FRONTEND: ${{ secrets.E2E_KEYCLOAK_SECRET_DATASET_CATALOG_FRONTEND }}
          E2E_KEYCLOAK_SECRET_DATA_SERVICE_CATALOG_FRONTEND: ${{ secrets.E2E_KEYCLOAK_SECRET_DATA_SERVICE_CATALOG_FRONTEND }}
          E2E_NEXTAUTH_SECRET: ${{ secrets.E2E_NEXTAUTH_SECRET }}
      - name: Merge CTRF reports
        run: npx ctrf merge reports
        if: ${{ hashFiles('reports/') != '' }}
      - name: Run CTRF annotations
        run: npx github-actions-ctrf reports/ctrf-report.json
        if: ${{ hashFiles('reports/') != '' }}
