.paginationContainer {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.pageLink {
  padding: 0px 15px;
}

.active {
  text-decoration: underline;
}

.arrowIcon {
  padding-top: 2.5px;
}
