.pageContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1.6rem 0;
  overflow-wrap: break-word;
}

.paginationContainer {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.pageLink {
  padding: 0px 15px;
}

.active {
  text-decoration: underline;
}

.arrowIcon {
  padding-top: 2.5px;
}

.searchRowContainer {
  display: flex;
  justify-content: stretch;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 5rem;
}

.searchRowContainer > div:first-of-type {
  flex-grow: 1;
}

.searchOptions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.gridContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 20rem 1fr;
  column-gap: 2rem;
}

@media (max-width: 900px) {
  .searchRowContainer {
    background-color: var(--ba);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .buttonsContainer {
    justify-content: center;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.secondRowContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.chips {
  margin-top: 20px;
  margin-bottom: 40px;
}

.wrap {
  flex-wrap: wrap;
}
