.pageContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1.6rem 0;
  overflow-wrap: break-word;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.searchHitContainer {
  margin: 0 auto 15px auto;
  min-width: 924px;
}

.pageLink {
  padding: 0px 15px;
}

.active {
  text-decoration: underline;
}

.arrowIcon {
  padding-top: 2.5px;
}

.searchRowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 3rem;
}

.searchRowContainer > span:first-of-type {
  flex-grow: 0;
}

.error {
  display: flex;
  justify-content: center;
  margin: 3rem;
  font-size: 2rem;
}
